@tailwind base;
@tailwind components;
@tailwind utilities;

/*--------------------------------------------------
 * Some extra "Tailwind-like" utility classes
 *------------------------------------------------*/

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.fill-parent {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
